body {
  background-color: rgb(224, 212, 237);
}

h1 {
  color: white;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

h2 {
  color: white;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

h3 {
  color: white;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

h4 {
  color: white;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 10px;
}