body {
  background-color: rgb(224, 212, 237);
}

h1 {
  color: white;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

p {
  font-family: verdana;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 10px;
}
